/* font-family: "Roboto"; */
@font-face {
	font-family: "Montserrat-Regular";
	src: url("../Montserat/Montserrat-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

 
@font-face {
	font-family: "Montserrat-Light";
	src: url("../Montserat/Montserrat-Light.ttf");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("../Montserat/Montserrat-SemiBold.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Montserrat-ExtraBold";
	src: url("../Montserat/Montserrat-ExtraBold.ttf");
	font-style: normal;
	font-weight: normal;
}


/* font-family: "RobotoLight"; 
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
font-family: "RobotoMedium"; */
