/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
    div.button_subscribe_wrap a{
        width: 100%;
    }
    .menu_wrap ul li{
        margin-right: 7px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    div.logo_wrap{
        text-align: center;
    }
    .menu_wrap ul{
        text-align: center;
    }
    .menu_wrap span{
        display: none;
    }
    div.header_button{
        text-align: center !important;
        margin-bottom: 50px;
    }
    div.marker_wrap{
        margin-top: 100px;
        margin-bottom: 12px;
    }
    div.welcome_button{
        text-align: center;
        margin-bottom: 30px;
    }
    div.welcome_img_wrap img{
        display: none;
    }
    section.welcome{
        padding-bottom: 10px;
    }
    section.features{
        margin-top: 50px;
    }
    div.features_img_head{
        text-align: center;
        margin-bottom: 
    }
    div.features_caption{
        margin-bottom: 30px;
    }
    
    div.smart_tv_wrap{
        margin-bottom: 25px;
    }
    div.supp_info_wrap h2{
        text-align: center;
    }
    section.contact_us h4{
        text-align: center;
    }
    div.contact_us_button{
        text-align: center;
    }
    section.support{
        margin-bottom: 50px;
    }
    div.small_hidden{
        display: none
    }
    div.arrow_wrap{
        margin-bottom: 16px;
    }
    div.input_wrap{
        margin-top: 30px;
    }
    footer h4{
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    div.Bloom_logo_wrap{
        text-align: center;
    }
    div.button_subscribe_wrap a{
        width: 300px;
        margin-bottom: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    div.button_subscribe_wrap a{
        width: 300px;
    }
    div.list_footer_wrap{
        margin-top: 70px;
    }
    .list_footer_wrap li{
        text-align: center;
    }
    div.contact_iteams_wrap{
        margin: 30px 0px;
    }
}
@media only screen and (max-width:562px){
    .menu_wrap ul li {
        display: block;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width : 700px){
    div.fadein_menu ul{
        display: none;
    }
    div.fade_marker{
        padding-left: 30px;
    }
    div.fade_marker span{
        display: inline-block;
    }
    .fadein_menu ul li{
        display: block;
        margin-bottom: 25px;
    }
}
@media only screen and (max-width : 558px){
    div.menu_wrap{
       display: none;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .menu_wrap ul li{
        margin-bottom: 30px;
    }
    p.logo_header{
        margin-top: 88px;
    }
    
    
    div.portfolio_img_wrap{
        margin-bottom: 23px;
    }
    div.contact_button_wrap{
        text-align: center;
    }
    .copy_right_wrap, .social_wrap {
    line-height: 30px;
    }
    
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) { 
    .menu_wrap ul li {
    display: block;
}
    div.portfolio_img_wrap{
        margin-bottom: 23px;
    }
    .copy_right_wrap, .social_wrap {
    line-height: 32px;
}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}